.navbutton {
    text-align: center;
    padding: 20px;
}


.navbutton :hover {
    background-color: rgb(29, 53, 192);
    transition-duration: 1s;

}

.nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.brand {
    margin-right: 10%;
    text-align: center;
}